.card {
  background-color: beige;
}

.card-title {
  font-size: 25pt;
}

.card-subtitle{
  font-size: 22pt;
}

.card-text {
  font-size: 18pt;
}

.card-img-bottom[_ngcontent-c6] {
  flex-direction: row;
}
