<ul *ngFor="let element of service.chronikelementList">
 <li>
   <div class="card container-fluid p-lg-3 m-lg-5 shadow rounded" >
      <h2 class="card-title ">{{ element.titel }}</h2>
        <h5 class="card-subtitle mb-2 text-muted"> {{ element.subtitel }}</h5>
      <span class="card-text text-break" ng-bind-html [innerHTML]="element.inhalt | sanitizeHtml"></span>
     <div *ngIf="element.paths.length !== 0" class="card-img-bottom">
       <hr>
      <span *ngFor="let img of element.paths" class="card-img-bottom container-fluid"  >
        <img *ngIf="img | downloadUrl | async as src" [src]="src" style="max-width: 39%; " class="m-md-1" >
      </span>
     </div>
     <div class = "card-footer">
       <div class="row">
         <div class="col">
         {{ element.ts | date }}
         </div>
         <div *ngIf="authService.isLoggedIn" class="col text-right fa fa-trash-o">
           <u (click)="this.service.deleteChronikelement(element.id)">    Eintrag löschen</u>
         </div>
       </div>
     </div>
   </div>
 </li>

</ul>
