<div class="navbar navbar-expand-sm navbar-light bg-transparent  justify-content-center in" role="navigation"><a class="navbar-brand navbar-title" href="#">Mensch Im Mittelpunkt   <img src="../../assets/Vereinslogo.png" class="navbar-logo"></a>


  <div class="navbar p-2" id="collapse-navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link navbar-text" routerLink="/startseite" routerLinkActive="active">Startseite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-text" routerLink="/wir" routerLinkActive="active">Über uns</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-text" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Projekte
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-text" routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-text" routerLink="/spenden" routerLinkActive="active">Spenden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-text" routerLink="/impressum" routerLinkActive="active">Impressum</a>
      </li>
    </ul>

  </div>
  <button class="navbar-toggle collapsed m-sm-3"  type="button" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false" aria-controls="navbar">
    &#9776;
  </button>
  <a href="#"><span class="fa fa-wrench"></span> Login</a>
</div>
