<div class="container">
  <div class="big"><strong>Impressum gemäß § 5 Telemediengesetz (TMG)</strong></div><br>
  <div class="big"><strong>Rechtliche Hinweise:</strong></div><br>
<div class="small">Der Verein Mensch im Mittelpunkt behält sich das Recht vor, jederzeit und ohne vorherige Ankündigung Verbesserungen
und/oder Änderungen an der Website oder einzelner Inhalte vorzunehmen. Der Internationale Bund hat keinen Einfluss auf
die Gestaltung und den Inhalt der verlinkten Websites. Insbesondere bei nachträglichen Veränderungen der verlinkten
Websites ist nicht ausgeschlossen, dass ohne Wissen des Internationalen Bundes seitens der Website-Inhaber
gesetzeswidrige oder rechtsverletzende Inhalte eingebracht werden. Für rechtswidrige, strafbare, fehlerhafte bzw.
  falsche und/oder unvollständige Inhalte ist allein der Anbieter der verlinkten Website verantwortlich.</div><br><br>

  <div class="big"><strong>Hinweise zum Urheberrecht:</strong></div><br>
<div class="small">Die Texte, Bilder, Grafiken und das Layout auf diesen Seiten sind urheberrechtlich geschützt. Jede nicht vom
Urheberrechtsgesetz ausdrücklich gestattete Verwertung, Reproduktion oder Weitergabe einzelner Inhalte oder ganzer
Seiten wird sowohl zivil- als auch strafrechtlich verfolgt.</div><br>

  <div class="small"><strong>Datenschutzhinweis:</strong></div><br>
<div class="small">Alle auf dieser Website genannten Personen widersprechen hiermit jeder kommerziellen Verwendung und Weitergabe
  ihrer Daten (vgl. § 28 BDSG).</div><br><br>


<div class="mid"><strong>Mensch im Mittelpunkt e.V.</strong></div><br>
  <div class="mid">Vereinsvorsitzender: Markus Naefe</div><br>
  <div class="mid">Vereinsregister-Nr. 34754 B , Amtsgericht Charlottenburg</div><br>

  <div class="mid">Prinzenallee 58,</div><br>

  <div class="mid">13359 Berlin</div><br>

  <div class="mid">Tel.: 030/98334875</div><br>
  <div class="mid">menschimmittelpunkt1@gmail.com</div><br>

  <div class="mid">Sitz: Berlin</div><br>
  <div class="mid">Umsatzsteuer-ID: 27/672/55000 F133</div><br><br>​

  <div class="big"><strong>Datenschutz:</strong></div><br>

​<div class="small">Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln
  Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie
  dieser Datenschutzerklärung.</div><br>

<div class="small">Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich.
  Personenbezogene Daten sind Einzelangaben über persönliche oder sachliche Verhältnisse einer bestimmten oder
  bestimmbaren natürlichen Person (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies,
  soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte
  weitergegeben. Da diese Daten besonderen Schutz genießen, werden sie bei uns nur im technisch erforderlichen Umfang
  erhoben. Nachfolgend stellen wir dar, welche Informationen wir während Ihres Besuches auf unserer Internetseite
  erfassen und wie diese genutzt werden. Unsere Datenschutzpraxis steht im Einklang mit den Regelungen des
  Bundesdatenschutzgesetzes (BDSG), der europäischen Datenschutzgrundverordnung und des Telemediengesetzes (TMG).
  Wir werden Ihre personenbezogenen Daten ausschließlich zur Bearbeitung von Anfragen erheben, verarbeiten und
  speichern.</div><br>

  <div class="big"><strong>Verwendung von GoogleMaps:</strong></div><br>

  <div class="small">Wir verwenden auf unserer Website die Funktion zur Einbettung von GoogleMaps-Karten der Google Inc. (1600 Amphitheatre
  Parkway, Mountain View, CA 94043, USA; “Google”).</div><br>
  <div class="small">Die Funktion ermöglicht die visuelle Darstellung von geographischen Informationen und interaktiven Landkarten. Dabei
  werden von Google bei Aufrufen der Seiten, in die GoogleMaps-Karten eingebunden sich, auch Daten der Besucher der
  Seiten erhoben, verarbeitet und genutzt. Nähere Informationen zur Erhebung und Nutzung der Daten durch Google finden
  Sie in den Datenschutzhinweisen von Google unter https://www.google.com/privacypolicy.html. Dort haben Sie auch im
  Datenschutzcenter die Möglichkeit Ihre Einstellungen zu verändern, so dass Sie Ihre von Google verarbeiteten Daten
  verwalten und schützen können. Ihre Daten werden dabei gegebenenfalls auch in die USA übermittelt. Für
  Datenübermittlungen in die USA ist ein Angemessenheitsbeschluss der Europäischen Kommission vorhanden.</div><br>
​
  <div class="small">Sie haben das Recht aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit dieser auf Art. 6 (1) f
  DSGVO beruhenden Verarbeitung Sie betreffender personenbezogener Daten zu widersprechen.</div><br>

  <div class="small">Dazu müssen Sie die Anwendung JavaScript in Ihrem Browser ausschalten. Wir weisen Sie jedoch
    darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website, wie bspw. die
    interaktive Kartenanzeige, vollumfänglich werden nutzen können.</div><br>
</div>
