<div class="modal fade" tabindex="-1" role="dialog" id="newChronikItem">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Neuen Eintrag hinzufügen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onSubmit()" id="add-chronikelement">
              <div class="form-group">
                <label for="title">
                  Titel:
                </label>
                <input type="text" class="form-control form-control-lg" name="title" placeholder="Titel" id="title" [(ngModel)]="element.titel">
              </div>
              <div class="form-group ">
                <label for="subtitel">
                  Subtitel:
                </label>
                <input type="text" class="form-control form-control-lg" placeholder="Beschreibung des Beitrags" name="subtitel" id="subtitel" [(ngModel)]="element.subtitel">
              </div>
              <div class="form-group">
                <label for="inhalt">
                  Inhalt:
                </label>
                        <textarea class="form-control" name="inhalt" id="inhalt" rows="10"
                                  placeholder="Inhalt des Beitrags" [(ngModel)]="element.inhalt"></textarea>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <!--- <button type="submit" class="btn btn-primary" (click)="fbPostData(titel, subtitel, inhalt)">Speichern</button>--->
                <input type="submit" value="Speichern" class="btn">
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>

